#fixed {
    position: fixed;
    top: 0;
    left: 200px;
    width: 150px;
    padding: 30px;
    margin: 0;
    text-align: center;
    background: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 22px;
  }

#about {
    text-align: right;
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    right: 200px;
}

a {
    color: grey;
    text-decoration: none;
}

#dash1 {
    text-align: right;
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40px;
    right: 375px;

}

#portfolio {
    text-align: right;
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    right: 150px;

}

#dash2 {
    text-align: right;
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40px;
    right: 275px;

}

#contact {
    text-align: right;
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    right: 100px;
}

div.relative {
    position: relative;
    width: 100%;
    height: 600px;
    border: black, solid, 5px;
    top:80px;
    background: url("ricepaper2.png"), no-repeat;
    

  }

  #absolute {
      position: absolute;
      width: 600px;
      margin: auto;
      left: 25%;
      right:25%;
      top: 150px;
      height: 300px;
      background: white;
  }

  #aboutme {
    text-align: left;
    text-indent: 15px;
    color: #4aaaa5;
    font-size: 24px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
  }
  
  hr { width:96%; height:1px; background: lightgrey }

  img {
    float: left;
    max-width: 25%;
    height: auto;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
  }